@model CatLister.ViewModels.HomeViewModel

<div class="jumbotron">
    <h1>AGL Developer Test</h1>
    <p class="lead">This is a simple MVC project to provide a solution for the AGL developer test</p>
    <p><a href="http://agl-developer-test.azurewebsites.net/" class="btn btn-primary btn-lg" target="_blank">Test Details here... &raquo;</a></p>
</div>
<div class="row">
    
    <div class="col-sm-12">
        <h4>Male</h4>
        <ul>
            @foreach (var cat in Model.CatsWithMaleOwners)
            {
                <li>@cat.Name</li>
            }
        </ul>
    </div>



    <div class="col-sm-12">
        <h4>Female</h4>
        <ul>
            @foreach (var cat in Model.CatsWithFemaleOwners)
            {
                <li>@cat.Name</li>
            }
        </ul>
    </div>

</div>
